body {
    background-color: black;
    background-image: url("https://i.ibb.co/27TkZJjt/DSC04562.jpg")
}

p {
    color: rgb(143, 16, 16);
}

div {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.message {
    margin-top: 10000px;
}

.image {
    opacity: 0.5;
    width: 50px;
    height: 50px;
}